section {
    @apply scroll-m-20;
}

// Hero section
.hero {
    @apply px-5 relative;
}

.hero__container {
    @apply container h-screen grid grid-cols-12;
    grid-template-rows: repeat(8, minmax(0, 1fr));
}

.hero__logo {
    @apply row-start-2 col-start-1 col-end-12 justify-self-end self-start;
}

.hero__copy {
    @apply row-start-3 col-start-4 col-end-12;
}

.hero__img {
    @apply absolute left-0 top-1/3;
}

.separador {
    @apply h-1 bg-primary mx-5 my-6 rounded-full;
}

// About section
.about__container {
    @apply container flex flex-col gap-8;
}

.about__title {
    @apply font-title mx-5;

    .about__title-1 {
        @apply text-primary font-medium text-2xl leading-4;
    }

    .about__title-2 {
        @apply font-black text-5xl ml-8;
    }
}

.about__text {
    @apply mx-5 flex flex-col gap-5;
}

.about__paragraph {
    @apply indent-5;
}

.about__text-subtitle {
    @apply text-2xl font-extrabold text-primary font-title;
    
}

.about__features {
    @apply mx-5 flex flex-col gap-5;
}

.about__feature {
    @apply flex gap-3 items-start;

    .feature-marker {
        @apply mt-[0.625rem];
    }

    a {
        @apply text-primary font-medium;
    }
}

// Scholarship

.scholarship {
    @apply mx-5;
}

.scholarship__container {
    @apply container mt-5;
}

.scholarship__title {
    @apply font-title text-5xl font-black flex flex-col items-end mb-5;

    .scholarship__title-1 {
        @apply leading-6 mr-8;
    }

    .scholarship__title-2 {
        @apply text-primary flex gap-2;

        &::before {
            content: "Y";
            @apply text-black text-xl font-medium;
        }
    }
}

// Experience

.experience {
    @apply mx-5;
}

.experience__container {
    @apply container mt-5;
}

.experience__title {
    @apply font-title text-5xl font-black flex flex-col items-start mb-5;

    .experience__title-1 {
        @apply leading-8 mr-8;
    }

    .experience__title-2 {
        @apply text-primary flex gap-2 ml-8;

        &::before {
            content: "Y";
            @apply text-black text-xl font-medium;
        }
    }
}

.research {
    @apply mx-5;
}

.research__container {
    @apply container;
}

.research__title {
    @apply font-title text-5xl font-black mb-5 flex gap-2 text-primary;

    &::before {
        content: 'MI';
        @apply text-black text-xl font-medium;
    }
}

.research__articles {
    @apply flex flex-col gap-5;
}

.contact {
    @apply mx-5;
}

.contact__container {
    @apply container mt-10;
}

.contact__mail {
    @apply relative transition-colors duration-1000;
}

.contact__title {
    @apply font-title text-5xl font-black flex flex-col items-start mb-5;

    .contact__title-1 {
        @apply leading-8 mr-8;
    }

    .contact__title-2 {
        @apply text-primary flex gap-2 ml-8;

        &::before {
            content: "EN";
            @apply text-black text-xl font-medium;
        }
    }
}

.contact__form,
.contact__group {
    @apply grid gap-y-5;
}

.contact__form {
    @apply relative;
}

.contact__box {
    @apply relative w-full h-14;
}

.contact__input,
.contact__button {
    @apply outline-none border-none;
}

.contact__input {
    @apply absolute w-full h-full bg-white text-slate-700 px-2 py-4 font-medium transition-all duration-500 border-2 border-solid border-primary rounded;

    &::placeholder {
        @apply text-slate-300 transition-opacity duration-500;
    }

    &:focus {
        @apply border-2 border-solid border-lightPrimary;
    }
}

.contact__label {
    @apply absolute top-2 left-3 text-slate-300 text-sm font-medium p-2 pointer-events-none transition-all duration-500 opacity-0;
}

.contact__area {
    @apply h-40;

    textarea {
        @apply resize-none pt-4;
    }
}

.contact__button {
    @apply bg-primary cursor-pointer text-white text-lg py-2;

    &:focus::placeholder {
        @apply opacity-0;
    }
}